name: PR

on:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn check:types
      - run: yarn lint
      - run: yarn test
      - uses: codecov/codecov-action@v2.1.0
      - uses: EndBug/add-and-commit@v7
        if: ${{ failure() && github.actor == 'renovate' }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - uses: superdispatch/actions/build-size/limit@v1
        with:
          install_command: 'yarn install'
          build_command: 'yarn build'

  preview:
    runs-on: ubuntu-latest

    outputs:
      deploy-url: ${{ steps.deploy.outputs.details_url }}

    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn storybook:build
      - run: yarn playroom:build
      - id: deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          target: superdispatch-ui
          channelId: ${{ github.event.number }}
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          projectId: ${{ secrets.FIREBASE_PROJECT }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_HOSTING_SERVICE_ACCOUNT_JSON }}

  e2e:
    needs:
      - checks
      - preview
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn cypress install
      - run: yarn percy exec -- cypress run
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          CYPRESS_HOST: ${{ needs.preview.outputs.deploy-url }}

  visual-testing:
    needs:
      - checks
      - preview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v2
      - uses: umidbekk/actions/npm/install@v2
        with:
          cache-key: yarn-v6

      - run: yarn visual-update-ci ${{ needs.preview.outputs.deploy-url }}
      - uses: actions/github-script@v5
        with:
          script: |
            let changes = '';

            await exec.exec('git', ['status', '--porcelain'], {
              listeners: {
                stdout: (data) => {
                  changes += data.toString();
                },
                stderr: (data) => {
                  changes += data.toString();
                }
              }
            });

            const branch = process.env.GITHUB_HEAD_REF;
            const files = changes
              .split('\n')
              .filter(Boolean)
              .map(file => file.split(' ').pop());

            if (files.length) {
                await exec.exec('git', ['config', 'user.name', 'github_actions']);
                await exec.exec('git', ['config', 'user.email', '41898282+github-actions[bot]@users.noreply.github.com']);

                await exec.exec('git', ['commit', '-am', 'chore: Updated visual changes.']);
                await exec.exec('git', ['push', 'origin', `HEAD:${branch}`]);

                const filesUrl = `https://github.com/${context.repo.owner}/${context.repo.repo}/pull/${context.issue.number}/files`;

                github.rest.issues.createComment({
                  issue_number: context.issue.number,
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  body: `Detected visual changes:
                    ${files.map(file => `- [${file}](${filesUrl}#:~:text=${file})`).join('\n')}
                  `
                });
            }
