name: PR

on:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn check:types
      - run: yarn lint
      - run: yarn test
      - uses: codecov/codecov-action@v2.1.0
      - uses: EndBug/add-and-commit@v7
        if: ${{ failure() && github.actor == 'renovate' }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - uses: superdispatch/actions/build-size/limit@v1
        with:
          install_command: 'yarn install'
          build_command: 'yarn build'

  preview:
    runs-on: ubuntu-latest

    outputs:
      deploy-url: ${{ steps.deploy.outputs.details_url }}

    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn storybook:build
      - run: yarn playroom:build
      - id: deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          target: superdispatch-ui
          channelId: ${{ github.event.number }}
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          projectId: ${{ secrets.FIREBASE_PROJECT }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_HOSTING_SERVICE_ACCOUNT_JSON }}

  e2e:
    needs:
      - checks
      - preview
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn cypress install
      - run: yarn percy exec -- cypress run
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          CYPRESS_HOST: ${{ needs.preview.outputs.deploy-url }}

  visual-testing:
    needs:
      - checks
      - preview
    runs-on: ubuntu-latest
    steps:
      - uses: umidbekk/actions/prepare-node-repo@v2
        with:
          cache-key: yarn-v6
      - run: yarn visual-update-ci ${{ needs.preview.outputs.deploy-url }}
      - uses: actions/github-script@v5
        with:
          script: |
            let changes = '';

            await exec.exec('git', ['status', '--porcelain'], {
              stdout: (data) => {
                changes += data.toString();
              },
              stderr: (data) => {
                changes += data.toString();
              }  
            });

            console.log(context, changes);

            if (changes.length) {
                const branch = context.ref.split('/').pop();
                const files = changes.split('\n').map(file => file.slice(2));

                await exec.exec('git', ['commit', '-am', 'chore: Updated visual changes.']);
                await exec.exec('git', ['push', 'origin', branch]);


                for (const file of files) {
                  core.warning('Detected visual change.', { file });
                }
            }
